################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MujiStore/config
/MujiStore/ffmpeg
/MujiStore/FtpVideo
/MujiStore/Video
