@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>

        <img src="~/img/VIDEO1.png" class="center-block" height="350" width="350" style="margin-left:355px;" />
    </h1>

</div>

<div class="row">

</div>