IPv4 Address. . . . . . . . . . . : 192.168.43.51
<div class="content">
<font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
Confirm Subnet ID: </font></font><span class="safe"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OK.</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Confirm </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Store Definition: </font></font><span class="safe"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OK. (1: test1)</font></font></span><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Select video that can be referenced:
     </font></font><span class="safe"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OK. (Test purpose title / ID = 2)</font></font></span>
	 
	 
	 <br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Subnet Data Acquisition: WAN Bandwidth: </font></font><span class="safe"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3000000</font></font></span>
	 <br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Same Subnet </font></font><span class="safe"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Is</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> there a video delivery server: </font><span class="safe"><font style="vertical-align: inherit;">192.40.128.82 (142.23.45.78), 192.3.45.23 (192.34.23.44), NCRSRYCDST0601 (142.23.45.78), NCRSRYCDST0601 (142.23.45.78) Is</font></span></font>
	 <br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> there a video delivery server on another subnet: </font><span class="safe"><font style="vertical-align: inherit;">192.40.128.82 (142.23.45.78 / 120byte / s), 192.47.128.82 (142.23.45.85 / 120byte / s), 192.3.45.23 (192.34.23.44 / 120byte / s)</font></span></font>
	 <span class="safe"><font style="vertical-align: inherit;"></font></span>
</div>
<font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Subnet Data Acquisition: WAN Bandwidth: </font></font>
<span class="safe"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">0</font></font></span>
<br>
<font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Same Subnet Video distribution server: </font></font>
<span class="danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">No</font></font></span>
<font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> (or distribution is not completed) </font></font>
<br>
<font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Video distribution server is on another subnet: </font><span class="danger"><font style="vertical-align: inherit;">No</font></span><font style="vertical-align: inherit;"> (or distribution is not completed)
</font></font>
<span class="danger"><font style="vertical-align: inherit;"></font></span>
<font style="vertical-align: inherit;"></font>